.alert.primary {
    background: #F1F5F9;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    padding: 0.5rem;
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 20px;
    color: #64748B;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.alert.primary .alert-icon {
    color: #3B82F6;
    font-size: 1rem;
}